/* ==========================================================================
	Custom Web fonts
	========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Rubik:300,500');


/* ==========================================================================
	General Styles
	========================================================================== */

body {
	background-color: #f5f5f5;
	font-family: 'Rubik', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 300;
	color: #332929;
}

a {
	text-decoration: none;
	color: #ff5252;
	transition: color .3s ease-in-out;
}

a:hover,
a:focus {
	color: #cc4141;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.6;
	font-weight: 500;
}

.container {
	max-width: 64em; /*1024px */
	margin: 0 auto;
	padding: 0 1em;
}

.text-flush {
	margin: 0;
}

.text-meta {
	margin: 0;
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: .01em;
	color: #999;
}

.text-center {
	text-align: center;
}

.image-block {
	display: block;
	margin: 0 0 2em;
}


/* ==========================================================================
	Components
	========================================================================== */

.btn {
	display: inline-block;
	margin: 0 0 1em;
	padding: 1em 2em;
	background-color: #ff5252;
	color: white;
	border-radius: .2em;
	transition: background-color .3s ease-in-out;
	text-transform: uppercase;
	font-size: .875em;
	letter-spacing: .1em;
}

.btn:hover,
.btn:focus {
	color: white;
	background-color: #cc4141;
}

.slat {
	margin: 0;
}

.slat li {
	margin: 0 0 1em;
	padding: 1em 0;
	border-bottom: 1px solid #ccc;
}

.slat li:last-child {
	border: none;
}

.slat__header {
	margin: 0 0 1em;
}

.slat__title {
	margin: 0;
}


/* ==========================================================================
	Header / Navigation Styles
	========================================================================== */

.header {
	display: flex;
	align-items: center;
	padding: 1.5em 1em;
	margin: 0 0 2em;
	background-color: white;
}

.header__logo {
	display: block;
	margin: 0 auto 0 0;
}

.header__nav a {
	padding: 0 .5em;
	margin-left: 1em;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: .9em;
}

.header__nav a.is-active {
	color: #999;
}


/* ==========================================================================
	Main Content Styles
	========================================================================== */

.intro {
	margin: 4em 0;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.intro__main {
	margin: 0 0 1em;
}

.intro__title {
	margin: 0;
	line-height: 1;
}

.intro__subtitle {
	margin: 0;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.intro__meta {
	margin: 1em 0;
}

.intro__desc {
	margin: 0 0 1em;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grid li {
	margin: 0 0 1.5em;
}

.grid li img {
	margin: 0 0 .5em;
	transition: box-shadow .3s ease-in-out;
}

.grid li a:hover img {
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.2);
}


/* ==========================================================================
	Secondary Styles
	========================================================================== */

.callout {
	padding: 1em;
	background-color: #ff5252;
	color: white;
	text-align: center;
}

.callout__title {
	font-size: 1.2em;
}

.callout__list {
	display: flex;
	justify-content: center;
}

.callout__list li {
	margin: 0 1em;
}

.callout__list li a {
	display: block;
	vertical-align: middle;
}


/* ==========================================================================
	Footer Styles
	========================================================================== */

.footer {
	padding: .5em 1em;
	background-color: #332929;
	color: #ccc;
	text-align: center;
}


/* ==========================================================================
	Media Queries
	========================================================================== */

@media only screen and (min-width: 30em) {

	/* Main Content Styles */
	.grid li {
		width: 48%;
	}

}


@media only screen and (min-width: 64em) {

	/* Components */
	.slat li {
		display: flex;
	}

	.slat__header {
		flex: 38% 0 0;
	}

	/* Main Content Styles */
	.intro {
		display: flex;
	}

	.intro__main {
		flex: 38% 0 0;
	}

	.grid li {
		width: 32%;
	}

}