.callout {
	padding: 1em;
	background-color: #ff5252;
	color: white;
	text-align: center;
}

.callout__title {
	font-size: 1.2em;
}

.callout__list {
	display: flex;
	justify-content: center;
}

.callout__list li {
	margin: 0 1em;
}

.callout__list li a {
	display: block;
	vertical-align: middle;
}