.intro {
	margin: 4em 0;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

.intro__main {
	margin: 0 0 1em;
}

.intro__title {
	margin: 0;
	line-height: 1;
}

.intro__subtitle {
	margin: 0;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.intro__meta {
	margin: 1em 0;
}

.intro__desc {
	margin: 0 0 1em;
}